body {
  background-color: #ffffff;
}

ul {
  font-family: ui-monospace;
  text-align: center;
  padding: 0;
  list-style: none;
  border-radius: 10px;
  background-color: #a4a8ab;
  border: 1px solid #a46f5b;
}

li {
  padding: 8px 0;
  margin: 20px 60px 20px 60px;
  display: inline;
  font-size: 20px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: gainsboro;
}

#header {
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-family: ui-monospace;
  color: #a4a8ab;
  background-color: #ffffff;
}

h2 {
    font-size: 20px;
    color: #a4a8ab;
    font-weight: 200;
    text-align: justify;
    padding: 20px;
    margin: 30px 180px 10px 180px; 
    background-color:whitesmoke;
    border: 1px solid #a46f5b;
    border-radius: 10px;
    margin-bottom: 50px;
}

table {
    color: #a4a8ab;
    background-color:whitesmoke;
    border: 1px solid #a46f5b;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
} /*Code souce: How to Center a Table with CSS (Quick Guide) in https://wpdatatables.com/center-a-table/#:~:text=One%20of%20the%20most%20common,and%20right%20margins%20to%20auto.&text=If%20you're%20after%20a,divide%20the%20space%20left%20over. */

#section {
  font-family: ui-monospace;
  font-style: normal;
  display: inline;
  font-size: 15px;
  color: #a4a8ab;
  margin-top: 10px;
  text-align: center;
}


#image {
  width: 100%;
  height: auto;
  display: block;
  display: flex;
}

#footer {
  font-size: 15px;
  text-align: center;
  font-style: normal;
  font-family: ui-monospace;
  color: #a4a8ab;
}

.responsive {
  width: 100%;
  height: auto;
}

.end_page {
  margin-top: 30px;
  width: 100px;
  margin-bottom: 45px;
  
}

li:hover {
  font-size: larger;
} /* code source: :hover selector in https://www.w3schools.com/cssref/sel_hover.php *\


